{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "RolPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block rolplatform_body %}

  <h2>Modifier une annonce</h2>

  {{ include("RolPlatformBundle:Advert:formedit.html.twig") }}

  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit générale de l'annonce déjà publiée.
  </p>

  <p>
    <a href="{{ path('rol_platform_view', {'id': Advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>

{% endblock %}